// ++++++++++++++++++++++++++++++++++++++++++++++ colors

// base colors
$black: #000;
$white: #fff;
$grey01: #222;
$grey02: #9e9e9e;
$blue01: #18a0fb;
$red01: #f24822;

// re-usable definitions ----- $wl = light workspace
$wl-canvas: $white;
$wl-type-01: $black;
$wl-type-02: $grey02;
// $wl-action-primary: ;
// $wl-action-secondary: ;
