// ++++++++++++++++++++++++++++++++++++++++++++++ layout

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  @include type-01;
  background: $wl-canvas;
}

svg {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  ul,
  ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .options {
    display: block;
    width: 100%;
  }

  .select {
    display: block;
    width: 100%;

    label {
      display: none;
    }
  }

  .switch {
    margin-top: 12px;
  }

  .button {
    &.working {
      opacity: 0.5;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    background: $wl-canvas;

    .mark {
      width: 26px;
      height: 30px;
    }
  }

  &.padding {
    padding: 16px 8px 16px 8px;

    h2, h3, p, ul {
      padding-left: 8px;
      padding-right: 8px;
    }

    p {
      &.select {
        padding: 0;
      }
    }
  }
}

.container.padding ul.select-menu__list { padding: 8px 0 8px 0; }
