// ++++++++++++++++++++++++++++++++++++++++++++++ layout

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: normal 400 11px/16px Inter, Roboto, sans-serif; /* default stack from Figma */
  color: rgba($wl-type-01, 0.8);
  letter-spacing: 0.033333em;
  background: $wl-canvas;
}

svg {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container .options {
  display: block;
  width: 100%;
}

.container ul,
.container ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .select {
  display: block;
  width: 100%;
}

.container .select label {
  display: none;
}

.container .switch {
  margin-top: 12px;
}

.container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.container.padding {
  padding: 16px 8px 16px 8px;
}

.container.padding h2,
.container.padding h3,
.container.padding p,
.container.padding ul {
  padding-left: 8px;
  padding-right: 8px;
}

.container.padding p.select {
  padding: 0;
}

.container footer .mark {
  width: 26px;
  height: 32px;
}

.container .button.working {
  opacity: 0.5;
}
