// ++++++++++++++++++++++++++++++++++++++++++++++ typography

@mixin type-01 {
  font: normal 400 11px/16px Inter, Roboto, sans-serif; /* default stack from Figma */
  color: rgba($wl-type-01, 0.8);
  letter-spacing: 0.033333em;
}

@mixin type-02 {
  @include type-01;
  color: $wl-type-02;
}

h2, h3 {
  @include type-02;
}

h2, h3, p, ul {
  margin: 0 0 12px 0;
  padding: 0;
}
