// ++++++++++++++++++++++++++++++++++++++++++++++ typography

@mixin type-01($weight: 400) {
  font-family: Inter, Roboto, sans-serif; // default stack from Figma
  font-size: 11px;
  line-height: 16px;
  font-weight: $weight;
  color: rgba($wl-type-01, 0.8);
  letter-spacing: 0.033333em;
}

@mixin type-02 {
  @include type-01;
  color: $wl-type-02;
}

h2, h3 {
  @include type-02;
}

h2, h3, p, ul {
  margin: 0 0 12px 0;
  padding: 0;
}
