// ++++++++++++++++++++++++++++++++++++++++++++++ content layer line component

@mixin text-widget(
  $selectWidth: 100,
  $iconWidthBuffered: 35
) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - #{em($selectWidth + 10)});

  &.original-shape,
  &.original-text {
    .shape,
    .text {
      @include type-02;
    }
  }

  &.new-shape,
  &.new-text {
    width: calc(100% - #{em($iconWidthBuffered)});

    .shape,
    .text {
      @include type-03;
    }
  }

  .shape,
  .text {
    @include ellipsis;
  }

  .inline-control {
    margin-left: em(3);
  }
}

@mixin content-layer-holder {
  $selectWidth: 105;
  $iconWidthBuffered: 35;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .select {
      width: em($selectWidth);
    }
  }

  .shape-widget,
  .text-widget {
    @include text-widget($selectWidth, $iconWidthBuffered);
  }

  .locking-control {
    span {
      &.unlocked { display: inline-block; }
      &.locked { display: none; }

      svg {
        path {
          fill: $wl-action-tertiary;
        }
      }
    }
  }

  &.locked {
    .shape-widget,
    .text-widget {
      &.new-shape,
      &.new-text {
        .shape,
        .text {
          color: $wl-type-02;
        }
      }
    }

    .locking-control {
      span {
        &.unlocked { display: none; }
        &.locked { display: inline-block; }

        svg {
          path {
            fill: $wl-action-secondary-accent;
          }
        }
      }
    }
  }
}

.shape-layer-holder,
.text-layer-holder {
  @include content-layer-holder;
}
